In [57]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [31]:
webpage = requests.get('https://www.scrapethissite.com/pages/simple/')
webpage.status_code

200

In [59]:
soup = BeautifulSoup(webpage.content,parser = "html.parser")
country = soup.find_all(name = 'div', class_ = 'col-md-4 country')
data = []
for i in country:
    d = {}
    Name = i.findChild(name = 'h3').getText().replace(" ","").replace("\n","")
    Capital = i.findChild(name = 'span',class_ = 'country-capital').getText()
    Population = i.findChild(name = 'span',class_ = 'country-population').getText()
    Area = i.findChild(name = 'span',class_='country-area').getText()
    d['Name'] = Name
    d['Capital'] = Capital
    d['Population'] = int(Population)
    d['Area'] = float(Area)
    data.append(d)
#for i in data:
#    print(i)
DF = pd.DataFrame(data)
DF

                   Name           Capital  Population       Area
0               Andorra  Andorra la Vella       84000      468.0
1    UnitedArabEmirates         Abu Dhabi     4975593    82880.0
2           Afghanistan             Kabul    29121286   647500.0
3     AntiguaandBarbuda        St. John's       86754      443.0
4              Anguilla        The Valley       13254      102.0
..                  ...               ...         ...        ...
245               Yemen             Sanaa    23495361   527970.0
246             Mayotte         Mamoudzou      159042      374.0
247         SouthAfrica          Pretoria    49000000  1219912.0
248              Zambia            Lusaka    13460305   752614.0
249            Zimbabwe            Harare    11651858   390580.0

[250 rows x 4 columns]